{% extends 'layout.html' %}
{% block body %} 

<div class="container pt-4">
    <div class="row">
        <div class="col-md-4 offset-md-4">
            <h3 class="text-center pt-4 pb-4">Información</h3>
            <div class="table-responsive">
                <table class="table table-striped table-bordered bg-white table-sm">
                    <thead>
                        <tr>
                            <th scope="col">Nombre</th>
                            <th scope="col">Correo</th>
                            <th scope="col">Mensaje</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>{{ nombre }}</td>
                            <td>{{ correo }}</td>
                            <td>{{ mensaje }}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

{% endblock %}

